body{
  box-sizing: content-box;
  background:rgb(10,17,18);
  margin: 0px 0px 0px 0px;
  font-family: Verdana, Geneva, sans-serif;
}
nav{
  background: rgba(22,22,22,0.9);
  height: 70px;
  box-sizing:content-box;
  box-shadow: 0px 1px 0px black;
  margin-bottom: 0.5px;

}
header{
  box-sizing: border-box;
  background: rgba(22,22,22,0.9);
  width: 90%;
  padding: 25px 0 25px 0;
  margin-left: 65px;
  border-bottom: solid 0.2px rgba(255,255,255,0.6);
}
section{
  box-sizing: content-box;
  background: rgba(22,22,22,0.9);
  width: 90%;
  margin-left: 65px;
  padding-top: 15px;
  padding-bottom: 30px;
}
footer{
  background: rgba(22,22,22,0.9);
  box-sizing: content-box;
  box-shadow: 0px 1px 0px black;
  width: 90%;
  margin-left: 65px;
  margin-bottom: 30px;
  border-top: solid 0.2px rgba(255,255,255,0.6);
}
.header-titulo{
  color: rgb(255, 255, 255);
  font-weight: normal;
  font-size: 18px;
  width: 50%;
  margin-left: 54px;
  padding-left:4px;
  border-left: solid 3px rgb(30, 144, 255);

}
.postagem{
  height: 250px;
  width: 90%;
  box-sizing: border-box;
  background: rgba(0,0,0);
  margin: 25px 60px 25px 60px;
  border-top: solid 0.4px rgba(255,255,255,0.6);
  border-radius: 5px 5px 5px 5px;
  box-shadow: 8px 10px 5px rgba(0, 0, 0, 0.6);
}
.postagem-fig{
  float: left;
  /* border: solid 1px red; */
  box-sizing: border-box;
  height: 216px;
  width: 160px;
  margin-bottom: 0px;
  margin-right: 0px;
}
.postagem-info{
  float: left;
  /* border: solid 1px red; */
  box-sizing: border-box;
  height: 216px;
  width: 850px;
  margin: 16px 0 5px 2px;
}
figcaption{
  box-sizing: border-box;
  border: solid 1px red;
  padding: 8px;
  color: white;
  height: 45px;
  text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  color: rgb(192,192,192);
}
.info-titulo{
  font-style: italic;
  text-indent: 0;
  box-sizing: border-box;
  float: left;
  padding: 2px;
  margin: 0 2px 0px 0px;
  font-weight: bolder;
  height: 42px;
  width: 100%;
  font-size: 22px;
  color: rgb(255,255,255);
  /* border: solid 1px yellow; */
}
.info-obra{
  float: left;
  background: rgba(255, 255, 255, 0.1);
  /* border: solid 1px blue; */
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  margin: 0px 0 0px 0;
}
.obra{
  float: left;
  padding: 12px 30px 12px 30px;
  color: rgb(192,192,192);
  /* border: solid 1px yellow; */
  font-size: 12px;
  height: 100%;
  width: 25%;
  box-sizing: border-box;
}
.sinopse{
  float: left;
  box-sizing: border-box;
  /* border: solid 1px gray; */
  border-top: solid 0.2px rgba(255,255,255,0.6);
  width: 100%;
  height: 90px;
  border-bottom: solid 0.2px rgb(255,255,255,0.6);
}
.sinopse-descric{
  margin: 0px 0 0px 0;
  padding: 2px;
  box-sizing: border-box;

  border-right: solid 0.2px rgb(255,255,255,0.6);
  float: left;
  width: 100%;
  height: 25px;
  color: rgb(255,255,255);
}
.sinopse-texto{
  width: 100%;
  height:100%;
  margin: 0px 0 0px 0;
  padding: 12px 6px 10px 6px;
  float: left;
  box-sizing: border-box;
  text-align: justify;
  font-size: 11.5px;
  color: rgb(192,192,192);
}
.genero{
  float: left;
  box-sizing: border-box;
  width: 100%;
  height: 42px;
  /* border: solid 1px yellow; */

}
.genero-descric{
  font-weight: bolder;
  font-size: 12px;
  float: left;
  box-sizing: border-box;
  height: 100%;
  width: 15%;
  /* border: solid 1px green; */
  border-right: solid 0.2px rgb(255,255,255,0.6);
  color: rgb(255, 255, 255);
  padding: 12px 30px 12px 30px;
}
.trailer{
  font-weight: bolder;
  font-size: 12px;
  float: left;
  box-sizing: border-box;
  height: 100%;
  width: 15%;
  padding: 12px 30px 12px 30px;
  /* border: solid 1px green; */
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.trailer:hover{
  color: rgb(249, 16, 12);
}
.img{
  width: 160px;
  height: 216px;
}
.footer-logo{
  float: left;
  box-sizing:border-box;
  height: 200px;
  width: 500px;
  color: rgb(139, 137, 137);
}
.footer-sobre{
  float: left;
  box-sizing: border-box;
  height: 200px;
  width: 400px;
}
.footer-parceiro{
  float: left;
  box-sizing: border-box;
  height: 200px;
  width: 300px;
}
.footer-copy{
  clear: both;
  height: 80px;
  width: 98%;
  margin-left: 10px;
  box-sizing:border-box;
  box-shadow: 0px 1px 0px black;
  color: rgb(139, 137, 137);
  border-top: solid 0.2px rgba(255,255,255,0.5);
}
.nav-bar{
  float: left;
  text-decoration: none;
  padding: 25px 15px 25px 15px;
  font-size: 17px;
  color: rgb(192,192,192);
  box-sizing: border-box;
}
.logo{
  font-weight: 1000;
  font-size: 28px;
}
#copys{
  box-sizing: border-box;
  height: 70px;
  float: left;
  padding: 25px 15px 25px 15px;
  margin: 5px 0 5px 0;
  font-size:14px;
}
#topo{
  float: right;
  margin: 20px 6px 20px 0;
  padding: 6px 16px 6px 16px;
  border-radius: 8px 8px 8px 8px;
  background: rgba(255, 255, 255, 0.25);
  color: rgb(255,255,255);
  font-size: 25px;
  height: 38px;
  width: 50px;
  box-sizing: border-box;
  text-decoration: none;
}
.logo-cine{
  float: left;
  margin-left: 20px;
  margin-top: 18px;
  color: rgb(255, 0, 36);
}
.logo-asta{
  float: left;
  margin-right: 40px;
  margin-top: 18px;
  color: rgb(255, 255, 255);
}
#slogan{
  clear: both;
  font-size: 13px;
  font-weight: normal;
  margin-left: 20px;
}
.titulo-sobre{
  float: left;
  color: rgb(192,192,192);
  font-weight: bolder;
  font-size: 15px;
  margin: 18px 0 18px 160px;
}
.link-sobre{
  float: left;
  font-size: 13px;
  text-decoration: none;
  color: rgb(30, 144, 255);
  margin: 0 0 6px 160px;
  font-weight: normal;
}
.link-sobre:active{
  color: rgb(249, 16, 12);
}
.nav-bar:hover{
  background-color: rgb(0,0,0);
  color: rgb(30, 144, 255);
  border-radius: 3px 3px 3px 3px;
}
.nav-bar:active{
  color: rgb(249, 16, 12);
}
.sobre{
  box-sizing: content-box;
  height: 160px;
}
.fundacao{
  font-size: 22px;
}
.lk{
  text-decoration: none;
  width: 182px;;
}
.lk:hover{
  color: rgb(249, 16, 12);
}
.link-tutorial{
  height: 60px;
}
